<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connect</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/social.css">
</head>
    
<body>

<div id="social">
        <p>Connect</p>
        <ul>
            <li><a href="http://facebook.com" target="_blank"><img src="../img/Social/facebook.png"/></a>
            </li>
            <li><a href="http://twitter.com" target="_blank"><img src="../img/Social/twitter.png"/></a>
            </li>
            <li><a href="http://plus.google.com" target="_blank"><img src="../img/Social/google-plus.png"/></a>
            </li>
        </ul>
    </div>
    
</body> 
</html>